# Copyright (C) 2003-2012 UseBB Team
# $Id$

#
# If you receive 500 Internal Server Errors, comment out the following lines.
#
Options -Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	#
	# Some hosts require this to be set to the root of your forum, uncomment it when needed.
	#
	#RewriteBase /UseBB/
	
	RewriteRule ^(index|panel|faq|search|active|online|members|rss|stats)\.html?[\.,;\-]?$ $1.php
	RewriteRule ^index-([0-9]+)\.html?[\.,;\-]?$ index.php?cat=$1
	RewriteRule ^panel-(login|logout|register|sendpwd|editprofile|editoptions|editpwd|subscriptions)\.html?[\.,;\-]?$ panel.php?act=$1
	RewriteRule ^panel-al(0|1)\.html?[\.,;\-]?$ panel.php?al=$1
	# No longer used, but kept for compatibility
	RewriteRule ^panel-activate-([0-9]+)-([0-9a-zA-Z]+)\.html?[\.,;\-]?$ panel.php?act=activate&id=$1&key=$2
	RewriteRule ^panel-markallasread\.html?[\.,;\-]?$ panel.php?do=markallasread
	RewriteRule ^(forum|topic|profile|mail)-([0-9]+)\.html?[\.,;\-]?$ $1.php?id=$2
	RewriteRule ^(forum|topic)-([0-9]+)-([0-9]+)\.html?[\.,;\-]?$ $1.php?id=$2&page=$3
	RewriteRule ^topic-([0-9]+)-((un)?subscribe)\.html?[\.,;\-]?$ topic.php?id=$1&act=$2
	RewriteRule ^topic-([0-9]+)-getnewpost\.html?[\.,;\-]?$ topic.php?id=$1&act=getnewpost
	RewriteRule ^topic-post([0-9]+)\.html?[\.,;\-]?$ topic.php?post=$1
	RewriteRule ^post-(forum|topic)([0-9]+)\.html?[\.,;\-]?$ post.php?$1=$2
	RewriteRule ^post-topic([0-9]+)-quotepost([0-9]+)\.html?[\.,;\-]?$ post.php?topic=$1&quotepost=$2
	RewriteRule ^edit-post([0-9]+)\.html?[\.,;\-]?$ edit.php?post=$1
	RewriteRule ^edit-post([0-9]+)-delete\.html?[\.,;\-]?$ edit.php?post=$1&act=delete
	RewriteRule ^edit-topic([0-9]+)-(delete|trash|move|lock|sticky|unlock|unsticky)\.html?[\.,;\-]?$ edit.php?topic=$1&act=$2
	RewriteRule ^online-(all|members|staff|guests)\.html?[\.,;\-]?$ online.php?show=$1
	RewriteRule ^online-(all|members|staff|guests)-([0-9]+)\.html?[\.,;\-]?$ online.php?show=$1&page=$2
	RewriteRule ^members-staff\.html?[\.,;\-]?$ members.php?act=staff
	RewriteRule ^faq-([0-9a-zA-Z]{5,})\.html?[\.,;\-]?$ faq.php?q=$1
	RewriteRule ^search-results\.html?[\.,;\-]?$ search.php?act=results
	RewriteRule ^search-results-([0-9]+)\.html?[\.,;\-]?$ search.php?act=results&page=$1
	RewriteRule ^rss\.xml[\.,;\-]?$ rss.php
	RewriteRule ^rss-(forum|topic)([0-9]+)\.xml?[\.,;\-]?$ rss.php?$1=$2
	RewriteRule ^mail-admin\.html?[\.,;\-]?$ mail.php?act=admin
</IfModule>
