<?xml version="1.0"?>
<phpunit
	bootstrap="includes/init.php"
	colors="true"
	stopOnError="true"
	stopOnFailure="true"
	verbose="true"
	strict="true">
	<logging>
		<log
			type="coverage-html"
			target="coverage"
			charset="UTF-8"
			yui="true"
			highlight="true"
			lowUpperBound="50"
			highLowerBound="90" />
	</logging>
	<filter>
		<blacklist>
			<directory>/opt/local/share/pear</directory>
		</blacklist>
	</filter>
</phpunit>
